---
import Layout from '@components/layout/Layout.astro';
export const prerender = true;
---

<Layout
  title="404: This page doesn't exist"
  description="Some info about my education, career, and interests"
>
  <h1>404: This page doesn't exist</h1>
  <p>
    If you want, you can <a href="/search">search the site for similar pages</a
    >, or <a href="/">just return home</a>
  </p>
</Layout>

<style></style>
