---
import Layout from '@components/layout/Layout.astro';
export const prerender = true;
---

<Layout
  title="About Me"
  description="Some info about my education, career, and interests"
>
  <h1>About Me</h1>
  <p>
    I'm Mykal! I'm currently working as a Systems Analyst II at the University
    of the Fraser Valley. I also do freelance software development work through
    my company <a href="https://tinybox.dev/">Tinybox Software</a>. If you want
    to know more about my career, you can check out my <a
      href="https://www.linkedin.com/in/mykalmachon/">Linkedin</a
    >.
  </p>
  <p>
    I also contribute to, and release me own, open-source software <a
      href="https://github.com/MykalMachon">on GitHub</a
    >
  </p>

  <h2>Technical interests</h2>
  <p>
    I've been programming on and off since I learned about scripting in
    GameMaker 8 as a middle-schooler in 2013. I'm openly addicted to learning
    and tend to get bored in roles where I'm not challenged.
  </p>

  <p>
    These traits have led me to a few rewarding jobs so far. I've worked in
    general IT, web development, and now work as a Systems Analyst II (team
    lead) at UFV.I've dabbled in a bunch of languages, tools, and services but
    I'm most up-to-date with the following:
  </p>

  <div class="details-list">
    <details>
      <summary>🗣️ Languages & runtimes</summary>
      <p>languages and runtimes go here</p>
    </details>
  
    <details>
      <summary>⚒️ Tools and libraries</summary>
      <p>tools and libraries go here</p>
    </details>
  
    <details>
      <summary>☁️ Hosting and DevOps</summary>
      <p>hosting and devops go here</p>
    </details>
  </div>

  <h2>Elsewhere</h2>
  <ul>
    <li>GitHub</li>
    <li>Twitter</li>
    <li>Mastodon</li>
    <li>Linkedin</li>
    <li>RSS Feed</li>
  </ul>
</Layout>

<style>
  .details-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--size-3);
  }

  .details-list > details {
    width: 100%;
  }
</style>