---
import Layout from '@components/layout/Layout.astro';
---

<Layout
  title="About Me"
  description="Some info about my education, career, and interests"
>
  <h1>About Me</h1>
  <p>This is where I put stuff about myself</p>
</Layout>
