---
import Layout from '@components/layout/Layout.astro';
export const prerender = true;
---

<Layout
  title="About Me"
  description="Some info about my education, career, and interests"
>
  <h1>About Me</h1>
  <p>
    I'm Mykal! I'm currently working as a Systems Analyst II at <a
      href="https://ufv.ca/">the University of the Fraser Valley</a
    >. I also do freelance software development work through my company <a
      href="https://tinybox.dev/">Tinybox Software</a
    >. If you want to know more about my career, you can check out my <a
      href="https://www.linkedin.com/in/mykalmachon/">Linkedin</a
    >.
  </p>
  <p>
    I also contribute to, and release my own open-source software <a
      href="https://github.com/MykalMachon">on GitHub</a
    >
  </p>

  <h2>Technical interests</h2>
  <p>
    I've been programming on and off since I learned about scripting in
    GameMaker 8 as a middle-schooler in 2013. I'm openly addicted to learning
    and tend to get bored in roles where I'm not challenged.
  </p>

  <p>
    These traits have led me to a few rewarding jobs so far. I've worked in
    general IT, web development, and now work as a Systems Analyst II (team
    lead) at UFV.I've dabbled in a bunch of languages, tools, and services but
    I'm most up-to-date with the following:
  </p>

  <div class="details-list">
    <details>
      <summary>🗣️ Languages & runtimes</summary>
      <ul>
        <li><strong>HTML / CSS / JS</strong>: good old web primitives.</li>
        <li>
          <strong>Typescript</strong>: can't get much better than JS with types.
        </li>
        <li>
          <strong>Node.js</strong>: for web servers, job runners, desktop apps,
          scripts, etc.
        </li>
        <li>
          <strong>Python</strong>: I love the simplicity and beauty of Python
          code. It's just so fun to write.
        </li>
      </ul>
    </details>

    <details>
      <summary>⚒️ Tools and libraries</summary>
      <ul>
        <li>
          <strong>Svelte & Sveltekit</strong>: my favourite way to build
          fullstack applications.
        </li>
        <li>
          <strong>Flask</strong>: the most flexible way to write web stuff with
          Python.
        </li>
        <li>
          <strong>Docker</strong>: makes deps management, development, and
          deploys trivial.
        </li>
        <li>
          <strong>Prisma</strong>: my go-to ORM for node.js-based projects.
        </li>
        <li>
          <strong>SQLAlchemy</strong>: my go-to ORM for python-based projects.
        </li>
      </ul>
    </details>

    <details>
      <summary>☁️ Hosting and DevOps</summary>
      <ul>
        <li>
          <strong>Railway</strong>: for hosting full-fat applications, and
          databases in the cloud.
        </li>
        <li>
          <strong>GitHub</strong>: the defacto hosted version control and CI/CD
          pipeline.
        </li>
        <li>
          <strong>Netlify</strong>: for hosting static websites and web apps in
          the cloud.
        </li>
        <li>
          <strong>Azure</strong>: I have my AZ-900 and am working on my AZ-204
          cert currently.
        </li>
      </ul>
    </details>
  </div>

  <h2>Elsewhere</h2>
  <ul>
    <li>
      <a href="https://github.com/MykalMachon">GitHub</a>: for my open source
      projects.
    </li>
    <li>
      <a href="https://indieweb.social/@mykalmachon">Mastodon</a>: for small
      posts and rants about stuff.
    </li>
    <li>
      <a href="https://www.linkedin.com/in/mykalmachon/">Linkedin</a>: for
      career and resume stuff.
    </li>
    <li><a href="/feeds">RSS Feed</a>: Subscribe to updates on this blog</li>
  </ul>
</Layout>

<style>
  .details-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--size-3);
  }

  .details-list > details {
    width: 100%;
  }
</style>
