---
import Layout from '@components/layout/Layout.astro';
export const prerender = true;
---

<Layout
  title="Contact Me"
  description="Where to go if you want to get in touch with me"
>
  <h1>About Me</h1>
  <p>This is where I put stuff about myself</p>
</Layout>
