---
import Layout from '@components/layout/Layout.astro';
export const prerender = true;
---

<Layout
  title="Contact Me"
  description="Where to go if you want to get in touch with me"
>
  <h1>Contact Me</h1>

  <p>Herea are a few quick ways to get ahold of me:</p>
  
  <h2>Email</h2>
  <p>If you want to contact me through email, you can <a href="https://tinybox.dev/">reach out through Tinybox</a> or just shoot an email to hello at mykal.codes.</p>

  <h2>Socials</h2>
  <p>See the links in the footer; I am most active on Mastodon and Linkedin at this point.</p>

</Layout>
