---
import Layout from '@components/layout/Layout.astro';
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
export const prerender = true;

const allLinks = await getCollection('links');
---

<Layout
	title="Links"
	description="A collection of links to some of my favourite resources and tools"
	type="page"
>
	<header>
		<div class="content">
			<h1>Links</h1>
			<p>A collection of links to some of my favourite resources and tools.</p>
		</div>
	</header>
	<main>
		<section class="links">
			<ul>
				{
					allLinks.map((link) => (
						<li>
							<div>
								<p>
									<a
										href={link.data.url}
										target="_blank"
										rel="noopener noreferrer"
									>
										{link.data.title}
									</a>
									{link.body}
								</p>
							</div>
						</li>
					))
				}
			</ul>
		</section>
	</main>
</Layout>

<style>
	header {
		position: relative;
		display: grid;
		grid-template-columns: 1fr;
		align-items: start;
		gap: var(--size-6);
		border-bottom: 1px solid var(--paper-3);
		z-index: 1;
	}

	@media screen and (max-width: 1000px) {
		header {
			grid-template-columns: 1fr;
			gap: var(--size-3);
		}
	}

	@media screen and (max-width: 60ch) {
		header {
			padding: var(--size-5) var(--size-3);
			grid-template-columns: 1fr;
			gap: var(--size-3);
		}

		header h1 {
			margin-top: 0;
		}

		header img {
			max-width: 30vw;
			aspect-ratio: 3.5/4;
		}
	}

	ul {
		width: 100%;
		list-style: none;
		margin: var(--size-6) 0 0 0;
		padding: 0;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		gap: var(--size-2);
	}

	ul li {
		padding: var(--size-2) 0;
		display: inline-block;
	}

	ul li a {
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}

	ul li p {
		margin: 0;
	}
</style>
