---
import Layout from '@components/layout/Layout.astro';
export const prerender = true;
---

<Layout title="Projects" description="Things I am (and have) built and released.">
  <h1>Projects</h1>
  <p>Just <a href="https://github.com/MykalMachon">see my GitHub</a>, tbh.</p>
</Layout>