---
import Layout from '@components/layout/Layout.astro';
export const prerender = true;
---

<Layout title="Search" description="Look through my site">
  <h1>Search</h1>
  <p>Search through my site</p>
  <p>Press ctrl+k</p>
</Layout>