---
import Layout from '@components/layout/Layout.astro';
export const prerender = true;
---

<Layout title="Search" description="Look through my site">
  <h1>Search</h1>
  <p>Search through my site</p>
  <section>
    <link href="/pagefind/pagefind-ui.css" rel="stylesheet" />
    <script src="/pagefind/pagefind-ui.js" type="text/javascript"></script>
    <div id="search-loading">
      <p>Search is loading...</p>
    </div>
    <div id="search"></div>
    <script>
      const loadSearch = () => {
        const pagefindUiEl = document.querySelector('.pagefind-ui')
        // If the search is already loaded, don't load it again
        if (pagefindUiEl) return;

        // load the search
        try{
          new PagefindUI({ element: '#search', showImage: true });
        } catch {
          document.getElementById('search-loading').style.display = 'none';
          document.getElementById('search').innerHTML = '<p>Search is not available at this time...</p>';
        } finally {
          document.getElementById('search-loading').style.display = 'none';
        }
      }

      document.addEventListener('DOMContentLoaded', () => loadSearch());
      document.addEventListener('astro:after-swap', () => loadSearch());
    </script>
  </section>
  <div class="search"></div>
</Layout>
