---
export interface Props {
  type: 'list' | 'button'
  tags: Array<string>
}
const { type = 'button', tags } = Astro.props;
const sortedTags = tags.sort();
---

<>
  {type === 'list' && (
  <span class="taglist">
    {sortedTags.map((tag:string, idx: number) => (
    <>
      <a href={`/garden/tags/${tag}`}>#{tag}</a>
      {(idx+1) !== tags.length && (<>, </>) }
    </>
    ))}
  </span>
  )}

  {type === 'button' && (
  <div class="taglist--btn">
    {sortedTags.map((tag:string, idx: number) => (
    <a class="tag" href={`/garden/tags/${tag}`}>#{tag}</a>
    ))}
  </div>
  )}
</>



<style lang="scss">
  .taglist--btn {
    display: flex;
    flex-wrap: wrap;
    gap: var(--size-3);
  }

  .tag {
    padding: var(--size-1) var(--size-2);
    background: var(--paper-2);
    border: 1px solid var(--acc-1);
    color: var(--acc-3);
    border-radius: var(--radius-1);
    text-decoration: none;

    &:hover {
      background: var(--paper-3);
      text-decoration: underline;
    }
  }
</style>