<article>
  <h3>Comments</h3>
  <script
    src="https://utteranc.es/client.js"
    repo="MykalMachon/Mykal.Codes"
    issue-term="pathname"
    label="Comments 💬"
    theme="github-light"
    crossorigin="anonymous"
    async
  >
  </script>
</article>
