---
const { fileName } = Astro.props;
---

<blockquote>
  <p>
    <i
      >Did you find a typo, or issue in this post? something you'd like to
      clarify? Is the info out of date?</i>
  </p>
  <p>
    All of my posts are available as markdon on GitHub. Any fix you can submit
    would be appreciated!
  </p>
  <p>
    <a
      href={`https://github.com/MykalMachon/Mykal.Codes/tree/main/src/${fileName}`}
      >Edit this post on GitHub</a>
  </p>
</blockquote>
