---
const { post } = Astro.props;
---

<article>
  <h3>{post.title}</h3>
  <p>{post.date}</p>
  <p>{post.description}</p>
  <a href={post.url}>read more</a>
</article>

<style lang="scss">
  article{
    margin: 0px 0px 1em 0px;
  }
</style>