---
const { post } = Astro.props;
---

<article>
  <h3>{post.frontmatter.title}</h3>
  <p>{post.frontmatter.pubDate}</p>
  <p>{post.frontmatter.description}</p>
  <a href={`/posts/${post.frontmatter.slug}`}>read more</a>
</article>

<style lang="scss">
  article{
    margin: 0px 0px 1em 0px;
  }
</style>