---
import { getLowQualityUrl, getHighQualityUrl } from "../../utils/cloudinary";

const {title, description, heroImage, pubDate, readTime} = Astro.props;
---

<header class="container">
  {pubDate && (
    <small>
      {pubDate && (<>Published on {pubDate.toLocaleString('en-GB', {timezone: 'UTC'})} - </>)}
      {readTime}
    </small>
  )}
  <section>
    <h1>{title}</h1>
    <p>{description}</p>
  </section>
  {heroImage && <img 
    src={getLowQualityUrl(heroImage) || ''} 
    class="lazy loading"
    width="608"
    height="405"
    data-lazy={getHighQualityUrl(heroImage) || ''}
    alt={`decorative image for ${title}`}> }
</header>

<style lang="scss">
  small{
    display: block;
    margin: var(--size-6) 0 0 0;
  }  
</style>