---
import PostCard from './PostCard.astro'

const { posts, type='large' } = Astro.props
---

<section>
  {posts.map(p => 
    <PostCard type={type} post={p} />
  )}
</section>

<style lang="scss">

</style>