[build]
  command = "npm run build"
  publish = "dist"

[dev]
  publish = "dist"
  functions="functions"

[functions]
  external_node_modules = ["chrome-aws-lambda"]

[functions."social-image"]
  included_files = ["functions/social-image/templates/**.html"]

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/:splat"
  status = 200
  force = true # ENSURE WE ALWAYS REDIRECT