* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  /* FONT VARIABLES */
  --font-mono: Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console',
    'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono',
    'Liberation Mono', 'Nimbus Mono L', Monaco, 'Courier New', Courier,
    monospace;
  --font-sans-serif: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;

  /* MISC VARIABLES */
  --user-font-scale: 1rem - 16px;
  --pad: 1.2rem;

  font-family: var(--font-sans-serif);
  font-size: 1rem;
  line-height: 1.65em;
  font-size: clamp(
    0.875rem,
    0.4626rem + 1.0309vw + var(--user-font-scale),
    1.125rem
  );
}

.theme__light{
    /* COLORS */
    --color-light: #f3f4f6;
    --color-dark: #f3f4f6;
    --color-dark-two: #f3f4f6;
    --color-highlight-one: #ff9f1c;
    --color-highlight-two: #ff9f1c;
}

.theme__dark{
  --color-light: var(--color-dark);
  --color-dark: #1f2937;
  --color-dark-two: #111827;
  --color-highlight-one: #b4da55;
  --color-highlight-two: #ff9f1c;
}

.theme__dark body {
  background: var(--color-dark-two);
  color: white;
}

.theme__dark input, .theme__dark textarea {
  color: white;
}


body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: #f9fafb;
  color: #111827;
}

.container {
  max-width: 720px;
  width: 100%;
  padding: var(--pad);
}

/* links */
a {
  color: var(--color-highlight-one);
  position: relative;
  text-decoration: none;
}

a:focus {
  outline: none;
  border: 2px dotted var(--color-highlight-two);
}

a:active {
  background: var(--color-highlight-two);
  color: var(--color-light);
}

a:after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0px;
  width: 100%;
  height: 1px;
  background: var(--color-highlight-two);
}

a:hover:after,
a:focus:after {
  outline: none;
  height: 3px;
}

button:hover{
  cursor: pointer;
}

/* buttons */

button.btn {
  padding: 0.6em var(--pad);
  font-family: var(--font-mono);
  font-size: 1rem; 
  border: 2px solid var(--color-highlight-two);
  background: var(--color-highlight-two);
  color: var(--color-light);
}

button.btn:active, button.btn:focus{
  border: 2px solid var(--color-highlight-two);
  background: var(--color-dark-two);
  color: var(--color-highlight-two);
  outline: none;
  border-style: dotted;
}

button.btn--small {
  font-size: 1em;
  padding: 0.4em 0.6em;
  font-family: var(--font-mono);
  border: 2px solid var(--color-highlight-two);
  background: var(--color-dark-two);
  color: var(--color-highlight-two);
}

button.btn--small:active, button.btn--small:focus{
  border: 2px solid var(--color-highlight-two);
  background: var(--color-dark-two);
  color: var(--color-highlight-two);
  outline: none;
  border-style: dotted;
}

button:disabled{
  filter: grayscale(1.0)
}

/* form styles */
.form-control{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: var(--pad) 0px;
}

.form-control label {
  margin-bottom: 0.4em;
}

input, textarea {
  padding: 0.6em 0.4em;
  border: none;
  border: 2px solid var(--color-dark);
  border-bottom-color: var(--color-highlight-one);
  background: var(--color-dark);
  font-family: var(--font-sans-serif);
  font-size: 1em;
}

input:focus, textarea:focus{
  outline: none;
  border-color: var(--color-highlight-one);
  border-style: dotted;
}

/* blog content specific styles */
.blog-post img,
pre,
code {
  max-width: 100%;
}

.blog-post h2,
.blog-post h3,
.blog-post h4 {
  margin-top: 1.4em;
}

.blog-post p,
.blog-post ul,
.blog-post ol,
.blog-post li,
.blog-post blockquote {
  margin: 0.7em 0px;
}

.blog-post blockquote {
  padding: 0.75em 3em;
  background: var(--color-dark);
  border-left: 2px solid var(--color-highlight-two);
}

/* about pages */
.about-carousel {
  min-height: calc(400px + 2em);
  visibility: hidden;
}

.about-carousel.flickity-enabled {
  visibility: visible;
}

.about-carousel img {
  height: 400px;
  object-fit: cover;
}

.about-carousel .flickity-page-dots {
  bottom: calc(1em - 4px);
}

.about-carousel .flickity-page-dots .dot {
  height: 4px;
  width: 40px;
  margin: 0;
  background: white;
  border-radius: 0;
}

.about-carousel .flickity-button {
  display: none;
}
