---
import BlogPost from '../../layouts/BlogPost.astro';

export async function getStaticPaths({rss}) {
  let allPosts = await Astro.glob('../../posts/**/*.md');
  let allSortedPosts = allPosts.sort((a, b) => new Date(b.frontmatter.pubDate) - new Date(a.frontmatter.pubDate));

  return allSortedPosts.map((post) => {
    return {
      params: {slug: post.frontmatter.slug},
      props: {post}
    }
  })
}

const {post} = Astro.props;
---

<h1>{post.frontmatter.title}</h1>
<main>
  <post.Content />
</main>