---
export interface Props {
  tags: Array<string>
}
const { tags } = Astro.props;
---

<span class="taglist">
  {tags.map((tag:string, idx: number) => (
    <> 
    <a href={`/tags/${tag}`}>#{tag}</a>
    {(idx+1) !== tags.length && (<>, </>) }
    </>
  ))}
</span>