---
interface Props {
  query: string | null;
}

const { query = '' } = Astro.props;
const site = import.meta.env.DEV ? 'http://localhost:4321/' : Astro.site;
---

<form method="GET" action={`${site}search`}>
  <input type="text" name="query" id="query" placeholder="Docker, Front-End, Coffee..." value={query}>
  <button type="submit">Search</button>
</form>

<style>
  form {
    display: grid;
    grid-template-columns: 3fr auto;
    gap: var(--size-3);
  }
</style>