---
import ContentLayout from '../../layouts/ContentLayout.astro';
---

<ContentLayout data={{
  title: "Feeds",
  description: "This page explains all my feeds and stuff"
}}>
  <main data-pagefind-body>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim esse
      consequatur magni voluptates distinctio ut rerum eius aperiam! Sunt magni
      quibusdam iusto dolore ut repellendus quo molestias fuga quisquam
      asperiores!
    </p>
  </main>
</ContentLayout>
