---
// Layout Import
import HomeLayout from '../layouts/HomeLayout.astro';

// Component Imports
import PostList from '../components/posts/PostList.astro';

// Utility imports
import { getCollection } from 'astro:content';
import { getSortedPosts } from '../utils/posts';
import MainLayout from '../layouts/MainLayout.astro';

// Data Fetching: fetch blog posts
const posts = await getCollection('posts', ({ data }) => {
  return data.draft === false;
});
const sortedPosts = getSortedPosts(posts).slice(0, 5);

// Data fetching: fetch notes
const notes = await getCollection('notes', ({ data }) => {
  return data.draft === false;
});

// Data fetching: fetch photos
const photos = await getCollection('photos');

// Data fetching: fetch links
const links = await getCollection('links');
---

<MainLayout title="Home" description="Mykal's home page">
  <section class="container--large">
    <article class="hero__content">
      <h1>Hey, I'm Mykal Machon</h1>
      <p class="leading">
        I'm a software developer and systems analyst. I share a bunch of stuff
        about my personal life and thoughts on this site.
      </p>
      <p>
        The site is an open work in progress and is available for review on <a
          href="https://github.com/MykalMachon/mykal.codes">GitHub</a
        >.
      </p>
    </article>
  </section>
</MainLayout>

<style lang="scss">
  
</style>
