<footer class="container">
  <section class="footnote divider--top">
    <p>
      <span>Built with 💖 by Mykal Machon</span>
      -
      <span>{new Date().getFullYear()}</span>
    </p>
  </section>
</footer>

<style lang="scss">
  span.border {
    display: block;
    border-bottom: 1px solid var(--ink-1);
    width: 100%;
  }

  footer {
    margin: var(--size-3) 0 var(--size-5) 0;
  }
</style>
