<footer class="container">
  <section class="footnote">
    <span>Built with 💖 by Mykal Machon</span>
    <span>{new Date().getFullYear()}</span>
  </section>
</footer>

<style lang="scss">

</style>
