<footer class="container">
  <section class="footnote">
    <p>
      <span>Built with 💖 by Mykal Machon</span>
      <span>{new Date().getFullYear()}</span>
    </p>
  </section>
</footer>

<style lang="scss">
  footer {
    margin: var(--size-3) 0 var(--size-5) 0;
  }
</style>
