---
// Layout Import
import MainLayout from '../../../layouts/MainLayout.astro';
// Component Imports
import PostList from '../../../components/posts/PostList.astro';
import { getSortedPosts } from '../../../utils/posts';
import { getCollection } from 'astro:content';

// Data Fetching: List all Markdown posts in the repo.
const allNotes = await getCollection('posts', ({ data }) => {
    return data.draft === false && data.type == 'post';
  });
const sortedNotes = getSortedPosts(allNotes);
---

<MainLayout
  title="Posts"
  description="This is an archive of all the posts on my blog. I typically write about web development, coffee, devops, tech, and my personal life."
>
  <section class="divider">
    <h1>Posts</h1>
    <p>
      If you'd like, you can also
      <a href="/feeds/notes.xml">subscribe to these notes via RSS</a>
    </p>
  </section>
  <div>
    {
      sortedNotes.map((note) => (
        <article>
          <p><time datetime={note.data.pubDate}>{note.data.pubDate.toDateString()}</time></p>
          <p><a href={`/notes/${note.slug}`}>{note.data.title}</a></p>
        </article>
      ))
    }
  </div>
</MainLayout>

<style lang="scss">
  article {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: var(--size-3);
    padding: var(--size-3) 0;
    border-top: 1px solid var(--paper-3);
    &:last-of-type {
      border-bottom: 1px solid var(--paper-3);
    }
    @media screen and (max-width: 800px) {
      grid-template-columns: auto 1fr;
    }
  }
</style>