---
import MainHead from './MainHead.astro';
import SearchBar from '@components/search/SearchBar';
import Navigation from './Navigation.astro';
import Footer from './Footer.astro';
export interface Props {
  title: string;
  description: string;
  type?: 'home' | 'page' | 'post';
}

const { title, description, type = 'page' } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <MainHead title={title} description={description} />
  </head>
  <body>
    <SearchBar client:idle />
    <Navigation variant={type} />
    <div class="wrapper">
      <div class={`container container--${type}`}>
        <slot />
      </div>
      <Footer />
    </div>
  </body><style>
    body > .wrapper > div:first-child {
      margin-bottom: var(--size-6);
    }
  </style>
</html>
