---
type AttributeData = {
  title: string;
  slug?: string;
  pubDate?: Date;
  draft?: true;
  editDate?: string;
  description?: string;
  readTime?: string;
  heroImage?: string;
  stage?: string;
  tags?: String[];
  location?: string;
  photos?: any[];
  url?: string;
};

export interface Props {
  data?: AttributeData;
}
---

<section class="" data-pagefind-ignore>
  <h2>About me</h2>
  <p>
    <strong>I'm Mykal Machon</strong>, I'm a web developer / coffee nerd from
    British Columbia, Canada. I'm currently working at the University of the
    Fraser Valley as a Systems Analyst.
  </p>
  <p>Thanks for reading through this post! if you liked it, you can:</p>
  <ul>
    <li data-emoji="☕">
      <a href="https://www.buymeacoffee.com/mykalcodes">Buy me a coffee</a>
    </li>
    <li data-emoji="📬">
      <a href="mailto:hello@mykal.codes">Reply via Email</a> or <a
        href="https://indieweb.social/@mykalmachon">Mastodon</a
      >
    </li>
    <li data-emoji="👋"><a href="/about-me">Read more about me</a></li>
  </ul>
</section>

<style lang="scss">
  section {
    padding: var(--size-3);
    margin: var(--size-8) 0;
    border: 1px solid var(--paper-3);
    border-radius: var(--radius-2);
    background: var(--paper-2);
    box-shadow: var(--shadow-2);
  }
  h2 {
    margin: var(--size-3) 0;
  }
  li[data-emoji] {
    padding-left: var(--size-4);
  }
  li[data-emoji]::marker {
    content: attr(data-emoji);
  }
  a:hover {
    background: var(--paper-3);
    color: var(--acc-4);
  }
</style>
