---
export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>{title} | mykal.codes</title>
<meta name="description" content={description} />
<link rel="icon" type="image/png" href="/favicon.png" />
<!-- Google fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Source+Sans+Pro:wght@400;700&display=swap"
  rel="stylesheet"
/>
<!-- Styles -->
<link rel="stylesheet" href="/style/global.css" />
<link
  rel="alternate"
  type="application/rss+xml"
  title="RSS Feed for mykal.codes"
  href="/rss.xml"
/>
<!-- Mastodon verification -->
<link rel="me" href="https://indieweb.social/@mykalmachon" />
<!-- UMAMI Analytics -->
{
  import.meta.env.MODE === 'production' && (
    <script
      async
      defer
      data-website-id="9cc92a59-874f-425f-8dc3-ec11fa52a542"
      src="https://stats.tbx.sh/umami.js"
    />
  )
}
