---
// Layout Import
import MainLayout from '../layouts/MainLayout.astro';
// Component Imports
import { Markdown } from 'astro/components';
import CongratsButton from '../components/CongratsButton.tsx';
---
<MainLayout title="About Me" description="Here's a quick summary...">
    <div>
      <h2>About Me</h2>
    </div>
</MainLayout>  

<style lang="scss">
  i.caption {
    display: block;
    font-size: 0.9em;
    margin-bottom: 1.25em;
    text-align: center;
    width: 100%;
  }
</style>
