---
// Layout Import
import MainLayout from '../layouts/MainLayout.astro';
// Component Imports
import { Markdown } from 'astro/components';
import CongratsButton from '../components/CongratsButton';
---

<MainLayout title="About Me" description="Here's a quick summary...">
  <Fragment slot="head-content">
    <link
      rel="stylesheet"
      href="https://unpkg.com/flickity@2/dist/flickity.min.css"
    />
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"
    ></script>
    <script>
      document.addEventListener('DOMContentLoaded', () => {
        const carouselEl = document.querySelector('.about-carousel');
        const carousel = new Flickity(carouselEl, {
          autoPlay: true,
          percentPosition: false,
          wrapAround: true,
          resize: true,
          lazyLoad: 5,
        });
        const images = document.querySelectorAll('.about-carousel img');
        const numImages = images.length;
        let loadedImages = 0;
        images.forEach((image) => {
          image.addEventListener('load', () => {
            loadedImages++;
            if (loadedImages == numImages) {
              carouselEl.classList.remove('about-carousel--loading');
            }
          });
        });
      });
    </script>
  </Fragment>
  <h1>About Me</h1>
  <p>Here's a quick summary of who I am.</p>
  <div class="about-carousel about-carousel--loading">
    <img
      src="https://res.cloudinary.com/mykalcodes/image/upload/c_scale,q_auto:low,w_16/v1655961322/Mykal%20Codes/about-me/IMG_1502.heic"
      data-flickity-lazyload="https://res.cloudinary.com/mykalcodes/image/upload/c_scale,f_auto,q_auto,w_1000/v1655961322/Mykal%20Codes/about-me/IMG_1502.heic"
      alt="Mykal eating sushi in a park on a blanket"
    />
    <img
      src="https://res.cloudinary.com/mykalcodes/image/upload/c_scale,q_auto:low,w_16/v1655960678/Mykal%20Codes/about-me/20220615_163839.jpg"
      data-flickity-lazyload="https://res.cloudinary.com/mykalcodes/image/upload/c_scale,f_auto,q_auto,w_1000/v1655960678/Mykal%20Codes/about-me/20220615_163839.jpg"
      alt="Mykal standing with his wife, Kiya, at her graduation ceremony"
    />
    <img
      src="https://assets.codepen.io/1490503/mykal_5.jpg?width=120&height=90&format=auto"
      data-flickity-lazyload="https://assets.codepen.io/1490503/mykal_5.jpg?width=720&height=540&format=auto"
      alt="Kiya and Mykal posing in front of a mural"
    />

    <img
      src="https://res.cloudinary.com/mykalcodes/image/upload/c_scale,q_auto:low,w_16/v1655961290/Mykal%20Codes/about-me/kiya-and-i.jpg"
      data-flickity-lazyload="https://res.cloudinary.com/mykalcodes/image/upload/c_scale,f_auto,q_auto,w_1000/v1655961290/Mykal%20Codes/about-me/kiya-and-i.jpg"
      alt="Kiya and Mykal pose for a selfie in front of a fireplace on their wedding day"
    />
    <img
      src="https://res.cloudinary.com/mykalcodes/image/upload/c_scale,q_auto:low,w_16/v1655961290/Mykal%20Codes/about-me/me-and-ash.jpg"
      data-flickity-lazyload="https://res.cloudinary.com/mykalcodes/image/upload/c_scale,f_auto,q_auto,w_1000/v1655961290/Mykal%20Codes/about-me/me-and-ash.jpg"
      alt="Mykal with his cat, Ash, sitting on his chest"
    />
    <img
      src="https://res.cloudinary.com/mykalcodes/image/upload/c_scale,q_auto:low,w_16/v1655962509/Mykal%20Codes/about-me/machon-fam-1.jpg"
      data-flickity-lazyload="https://res.cloudinary.com/mykalcodes/image/upload/c_scale,f_auto,q_auto,w_1000/v1655962509/Mykal%20Codes/about-me/machon-fam-1.jpg"
      alt="From left to right, Duanne Machon, Kiya Machon, Mykal Machon, Jackie Machon at my Wedding"
    />
    <img
      src="https://res.cloudinary.com/mykalcodes/image/upload/c_scale,q_auto:low,w_16/v1655961231/Mykal%20Codes/about-me/family.jpg"
      data-flickity-lazyload="https://res.cloudinary.com/mykalcodes/image/upload/c_scale,f_auto,q_auto,w_1000/v1655961231/Mykal%20Codes/about-me/family.jpg"
      alt="Mykal and the fam getting ice cream"
    />
  </div>
  <p>
    <i class="caption">pictured above: goofy pictures of me, my wife Kiya, family, and friends</i>
  </p>
  <div class="blog-post">
    <Markdown>
      ## Professional

      Professionally, I write software. mostly web, besides that, I'm not sure- still figuring it out.
      I have a weird laundry list of technical skills including "modern" web, Shopify theme, and backend dev. I've also been picking up some enterprise software skills [at UFV](/posts/new-job-at-ufv/).

      I like learning and solving technical problems, and just sort of follow whatever road that leads me down! _It's worked so far!_
      I also run a small software consulting co, so if you have a problem you want to solve, [check it out!](https://tinybox.dev)

      ## Personal

      Just another white dude in tech.
      I like spending time with friends, and family (including my 2 cats), and doing generaly nerdy things including:

      * 🎮 Playing Video Games
      * 📚 Reading Sci-Fi, Horror, [and more](https://www.goodreads.com/user/show/141327631-mykal-machon)
      * 👩🏻‍💻 Building fun side projects (webapps, writing, etc.)
      * 🍻 Spending time with family and friends
      * ☕ Making coffee

      ## Education

      I graduated from the University of the Fraser Valley (UFV) with a Bachelor in Computer Information Systems in December of 2021.
    </Markdown>
    <CongratsButton client:idle>Press to say congrats 🎉</CongratsButton>
    <Markdown>
      [UFV's BCIS degree](https://www.ufv.ca/computing/) is essentialy a mix of a traditional Computer Science Degree,
      with a number of other technical fields (Networking, IT, and Project Management) with a focus on projects and practical work experience.
      I also did a bit of AI research work while I was a student at UFV.
    </Markdown>
  </div>
</MainLayout>

<style lang="scss">
  i.caption {
    display: block;
    font-size: var(--font-size-base);
    margin: var(--size-4) 0 var(--size-3) 0;
    text-align: center;
    width: 100%;
  }
</style>
