---
// Layout Import
import HomeLayout from "../layouts/HomeLayout.astro";
// Component Imports
import PostList from "../components/posts/PostList.astro";
import { getNonDraftPosts, getSortedPosts } from "../utils/posts";

// Data Fetching: fetch recent posts
let allPosts = await Astro.glob("../posts/**/*.md");
allPosts = getSortedPosts(allPosts);
allPosts = getNonDraftPosts(allPosts);
const recentPosts = allPosts.slice(0, 3);
---

<HomeLayout title="Home" description="Mykal Machon's website, blog, and digital garden.">
  <h2>Recent Posts</h2>
  <PostList posts={recentPosts} />
  <p>
    <a href="/posts/">read older posts</a>
  </p>
</HomeLayout>