---
// Layout Import
import MainLayout from "../../layouts/MainLayout.astro";
// Component Imports
import PostList from "../../components/posts/PostList.astro";
import TagList from "../../components/tags/TagList.astro";
import { getSortedPosts } from "../../utils/posts";
import { getAllTags } from "../../utils/tags";
import { getCollection } from "astro:content";

// Data Fetching: List all Markdown posts in the repo.
const allPosts = await getCollection('posts', ({data}) => {
  return data.draft === false;
})

// sort all the posts
let sortedPosts = getSortedPosts(allPosts);

// get all tags from posts
const tags = getAllTags(allPosts);
---

<MainLayout
  title="Posts"
  description="This is an archive of all the posts on my blog. I typically write about web development, coffee, devops, tech, and my personal life."
>
  <section class="divider">
    <h1>Posts</h1>
    <p>
      This is an archive of all the posts on my blog. I typically write about:
      <TagList type="list" {tags} />
    </p>
    <p>
      If you'd like, you can also <a href="/rss.xml"
        >subscribe to my blog via RSS</a
      >
    </p>
  </section>
  <PostList posts={sortedPosts} showYears={true} type="small" />
</MainLayout>
