@import 'https://unpkg.com/open-props';

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion) {
  * {
    scroll-behavior: unset;
    transition: none;
  }
}

:target {
  animation: var(--animation-blink);
  animation-timing-function: var(--ease-3);
  animation-duration: 0.5s;
  animation-iteration-count: 5;
}

:target:before {
  content: '';
  display: block;
  height: var(--size-3);
  margin: var(--size-3) 0 0;
}

:root {
  /* COLORS */
  --color-light-1: #fffcf5;
  --color-light-2: var(--teal-1);
  --color-light-3: var(--teal-2);

  --color-dark-1: var(--gray-5);
  --color-dark-2: var(--gray-7);
  --color-dark-3: var(--gray-8);

  --color-acc-1: var(--teal-6);
  --color-acc-2: var(--teal-7);
  --color-acc-3: var(--teal-9);

  /* FONT FAMILY */
  --font-heading: 'Lora', ui-serif, Georgia, Cambria, 'Times New Roman', Times,
    serif;
  --font-lead: 'Lora', ui-serif, Georgia, Cambria, 'Times New Roman', Times,
    serif;
  --font-body: 'Source Sans Pro', ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;

  /* FONT SIZES */
  --font-size-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
  --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  --font-size-xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
  --font-size-xxl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  --font-size-xxxl: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);
}

body[data-theme='dark'] {
  --paper-1: #191918;
  --paper-2: #04291e;
  --paper-3: #063b2b;

  --ink-1: var(--gray-2);
  --ink-2: var(--gray-3);
  --ink-3: var(--gray-4);

  --acc-1: var(--teal-9);
  --acc-2: var(--teal-8);
  --acc-3: var(--teal-7);
}

body[data-theme='light'] {
  --paper-1: var(--color-light-1);
  --paper-2: var(--color-light-2);
  --paper-3: var(--color-light-3);

  --ink-1: var(--color-dark-1);
  --ink-2: var(--color-dark-2);
  --ink-3: var(--color-dark-3);

  --acc-1: var(--color-acc-1);
  --acc-2: var(--color-acc-2);
  --acc-3: var(--color-acc-3);
}

/* Basic Resets */

body {
  background: var(--paper-1);

  /* COLORS FOR PAGEFIND.APP */
  --pagefind-ui-text: var(--ink-2);
  --pagefind-ui-background: var(--paper-3);
  --pagefind-ui-border-width: 1px;
  --pagefind-ui-border: var(--acc-1);
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-heading);
  color: var(--ink-3);
  margin: var(--size-6) 0 var(--size-3) 0;
  line-height: 1em;
}

h1:target,
h2:target,
h3:target,
h4:target {
  top: -2.4em;
}

h1 {
  font-size: var(--font-size-xl);
}

h2 {
  font-size: var(--font-size-lg);
}

h3 {
  font-size: var(--font-size-md);
}

h4 {
  font-size: var(--font-size-base);
}

p,
a,
ul,
ol,
input,
select,
textarea,
small,
label {
  font-family: var(--font-body);
  font-size: var(--font-size-base);
  line-height: var(--size-6);
  color: var(--ink-2);
}

small {
  font-size: var(--font-size-small);
}

p,
ul,
ol,
blockquote {
  margin: var(--size-3) 0;
}

ul li,
ol li {
  margin: var(--size-2) 0;
}

ul ul {
  margin: 0;
}

/* misc */

img {
  width: 100%;
  height: auto;
}

.lazy-wrapper {
  overflow: hidden; /* stops overflow */
  transform: translate3d(0,0,0); /* stops overflow */
}

main .lazy-wrapper {
  border-radius: var(--radius-2);
}

img.lazy {
  filter: blur(0px);
  transition: transform 0.3s var(--ease-elastic-3),
    filter 0.5s var(--ease-elastic-3);
}

main img.lazy {
  border-radius: var(--radius-2);
}

img.lazy.loading {
  filter: blur(12px);
}

iframe {
  width: 100%;
}

img.loading::after {
  content: '';
  visibility: visible;
  opacity: 1;
  background: hsla(162, 0.82, 0.4, 0.45);
  backdrop-filter: saturate(80%) blur(12px);
}

a {
  color: var(--acc-3);
}

a:hover,
a:focus {
  text-decoration: underline;
  background: var(--paper-2);
  border-radius: var(--radius-1);
}

button {
  padding: var(--size-3) var(--size-5);
  background: var(--paper-2);
  border: 1px solid var(--acc-1);
  color: var(--ink-1);
  font-family: var(--font-body);
  font-size: var(--font-size-base);
  border-radius: var(--radius-1);
  transition: background 0.2s var(--ease-2), color 0.2s var(--ease-2);
  color: var(--ink-2);
}

button:hover {
  background: var(--paper-3);
  cursor: pointer;
}

button:disabled {
  background: var(--paper-1);
  color: var(--ink-1);
  border: 1px solid var(--acc-1);
}

button:focus,
button:active {
  border-color: var(--acc-2);
  outline-style: solid;
  outline-color: var(--paper-3);
  outline-width: 2px;
  outline-offset: 2px;
}

button.small {
  padding: var(--size-2) var(--size-3);
}

a svg {
  stroke: var(--acc-3);
  width: var(--font-size-base);
}

blockquote {
  padding: var(--size-3) var(--size-3) var(--size-3) var(--size-5);
  border-left: 5px solid var(--acc-1);
  background: var(--paper-2);
}

/* compositions */
.site-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container--large {
  width: 100%;
  max-width: 1200px;
  padding: 0 var(--size-3);
}

.container {
  width: 100%;
  max-width: 80ch;
  padding: 0 var(--size-3);
}

.flow > * + * {
  margin-top: var(--size-3);
}

/* about pages */
.about-carousel {
  position: relative;
  height: 400px;
  margin-bottom: 2em;
  visibility: hidden;
}

.about-carousel::after {
  content: '';
  visibility: hidden;
  position: absolute;
  opacity: 0;
  background: hsla(34.6, 100%, 55%, 0);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
}

.about-carousel.flickity-enabled {
  visibility: visible;
}

.about-carousel img {
  width: auto;
  height: 400px;
  object-fit: cover;
}

.about-carousel .flickity-page-dots {
  bottom: calc(-1.5em);
}

.about-carousel .flickity-page-dots .dot {
  height: 4px;
  width: 40px;
  margin: 0;
  background: var(--acc-1);
  border-radius: 0;
}

.about-carousel .flickity-viewport {
  border-radius: var(--radius-2);
}

.about-carousel .flickity-button {
  display: none;
}

.about-carousel--loading::after {
  visibility: visible;
  opacity: 1;
  background: hsla(162, 0.82, 0.4, 0.7);
  backdrop-filter: saturate(80%) blur(12px);
}

.about-carousel img.about-carousel__image {
  border-radius: 0px;
  margin: 0px;
}

/* forms */
.form-control {
  display: flex;
  flex-direction: column;
  gap: var(--size-2);
  margin-bottom: var(--size-3);
}

input,
select,
textarea {
  padding: var(--size-2);
  border-radius: var(--radius-2);
  border: 1px solid var(--acc-1);
  background: var(--paper-2);
}

/* code blocks */
pre {
  padding: var(--size-3);
  font-size: var(--font-size-base);
}

/* utility css */
.divider {
  border-bottom: 1px solid var(--ink-1);
  margin: var(--size-5) 0 var(--size-3) 0;
}

.divider--top {
  border-top: 1px solid var(--ink-1);
  margin: var(--size-3) 0;
}

/* blog and main post content stuff */
.main-content img {
  border-radius: var(--radius-2);
  margin: var(--size-3) 0;
}

.main-content h2,
.main-content h3 {
  margin: var(--size-8) 0 var(--size-3) 0;
}

.main-content h4,
.main-content h5,
.main-content h6 {
  margin: var(--size-5) 0 var(--size-3) 0;
}

.main-content p,
.main-content blockquote,
.main-content p,
.main-content a,
.main-content ul,
.main-content ol,
.main-content input,
.main-content select,
.main-content textarea,
.main-content small,
.main-content label {
  line-height: var(--font-lineheight-4);
}

/* reactions */
ul.reactions__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  gap: var(--size-3);
  padding: 0;
}

ul.reactions__list button {
  color: var(--ink-2);
  background: var(--paper-2);
  border: 1px solid var(--acc-1);
  border-radius: var(--radius-1);
  padding: var(--size-1) var(--size-2);
  display: flex;
  gap: var(--size-1);
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

ul.reactions__list button span.emoji {
  transform: scale(0.9);
  transition: transform 0.3s var(--ease-elastic-5);
}

ul.reactions__list button:hover {
  background: var(--paper-3);
  cursor: pointer;
}

ul.reactions__list button:hover span.emoji {
  transform: rotate(10deg) scale(1.05);
}

ul.reactions__list button:disabled {
  filter: grayscale(1);
  cursor: wait;
}

ul.reactions__list button:hover:disabled span.emoji {
  transform: scale(0.9);
}


