---
export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>{title} | mykal.codes</title>
<meta name="description" content={description} />
<link rel="icon" type="image/png" href="/favicon.png" />
<link rel="stylesheet" href="/style/global.css" />
<link
  rel="alternate"
  type="application/rss+xml"
  title="RSS Feed for mykal.codes"
  href="/rss.xml"
/>
