---
export interface Props {
  title: string;
  description: string;
  permalink: string;
}

const { title, description, permalink } = Astro.props
---

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{title} | Mykal.Codes</title>
<meta name="description" content={description}>
<link rel="icon" type="image/svg+xml" href="/favicon.svg">
<link rel="stylesheet" href="/style/global.css">
  
<!-- Umami - self hosted analytics -->
<script async defer data-website-id="64727382-e1a3-4bf2-9a7b-9ba939500bd3" src="https://analytics.tbx.sh/umami.js"></script>
<!-- / Umami -->

<!-- Lozad.js - lazy loading and progressive enhancement -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>
<script>
document.addEventListener('DOMContentLoaded', () => {
  const observer = lozad('.lazy', {}); // lazy loads elements with default selector as '.lozad'
  observer.observe(); 
})
</script>
<!-- / Lozad.js -->
