---

---

<nav role="navigation">
  <div class="container">
  
    <a href="/">Mykal Machon</a> // 
    <a href="/about-me">About Me</a> //
    <a href="/posts">Posts</a>
  </div>
</nav>

<style lang="scss">
  nav {
    background: var(--color-highlight-two);
    width: 100%;
    min-height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-light);
    a{
      font-family: var(--font-mono);
      color: var(--color-light);
    }
    a:after{
      background: var(--color-light);
    }
    a:focus{
      border-color: var(--color-light);
    }
    a:active{
      background: var(--color-light);
      color: var(--color-highlight-two);
    }
  }
</style>