---
import Navigation from '../components/layout/Navigation.astro';
import Header from '../components/layout/Header.astro';
import Footer from '../components/layout/Footer.astro';
import MainHead from '../components/MainHead.astro';

const { title, description } = Astro.props;
---

<html class="" lang="en">
  <head>
    <slot name="head-content" />
    <MainHead {title} {description} />

    <!-- OG Image Stuff -->
    <meta property="og:title" content={`${title} | mykal.codes`} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content="https://mykal.codes/" />
    <meta property="og:image" content="/og?type=Home%20Page" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
  </head>

  <body class="site-container">
    <Navigation />
    <main>
      <slot />
    </main>
  </body>
</html>

<style>
  section {
    padding: var(--size-3) var(--size-5);
  }
  .leading-text {
    font-family: var(--font-lead);
    font-size: var(--font-size-md);
    font-weight: normal;
  }
  main {
    width: 100%;
    max-width: 1000px;
  }
  article.hero__content {
    max-width: 80ch;
  }
</style>