---
type LinkItem = {
  href: string;
  title: string;
  current?: true
}

export interface Props {
  links: LinkItem[];
}

const defaultLinks = [
  {"href": "/about-me", "title": "About"},
  {"href": "/projects", "title": "Projects"},
  {"href": "/contact", "title": "Contact"},
  {"href": "/uses", "title": 'Uses'}
]

const { links = defaultLinks } = Astro.props;
---

<nav role="navigation" class="">
  <ul>
    {links.map((link: LinkItem) => (
      <li class={link.current ? 'active' : 'inactive'}>
        <a href={link.href}>{link.title}</a>
      </li>
    ))}
  </ul>
  <span class="border"></span>
</nav>

<style lang="scss">
  span.border {
    display: block;
    border-bottom: 1px solid var(--ink-1);
    width: 100%;
    margin-bottom: var(--size-3);
  }

  h1.title {
    font-size: var(--font-size-xl);
    line-height: 1em;
    margin: var(--size-8) 0 var(--size-3) 0;
  }

  ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: var(--size-1);
    padding: 0;
    margin: var(--size-3) 0 0 calc(-1 * var(--size-3));
    width: 100%;
    padding: 0 0 var(--size-3) 0;
  }

  @media screen and (max-width: 600px) {
    div.navigation__bar {
      display: flex;
      justify-content: flex-start;
    }
  }

  ul a {
    text-decoration: none;
    padding: var(--size-2) var(--size-3);
    border-radius: var(--radius-2);
  }

  ul a:hover {
    background: var(--paper-2);
    text-decoration: underline;
  }

  .align-end {
    justify-self: flex-end;
  }

  li.btn {
    display: grid;
    place-items: center;
    margin: 0;
    a {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: var(--size-1);
    }
  }
</style>
