---
import RSS from "../icons/RSS.astro";
import Search from "../icons/Search.astro";

---

<header>
  <nav role="navigation">
    <div class="nav__logo">
      <a href="/">
        <img src="/favicon.png" alt="mykal's logo" />
        <span>Mykal Machon</span>
      </a>
    </div>
    <div class="nav__menu">
      <ul>
        <li><a href="/garden">Garden</a></li>
        <li><a href="/about-me">About</a></li>
        <li>
          <a href="/search"
            >
            <Search fill="rgba(0,0,0,0)" stroke="var(--acc-1)" />
          </a>
        </li>
        <li>
          <a href="/feeds">
            <RSS fill="rgba(0,0,0,0)" stroke="var(--acc-1)" />
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<style lang="scss">
  header {
    width: 100%;
    position: sticky;
    top: 0;
    background: var(--paper-1);
    border-bottom: 1px solid var(--paper-3);
    z-index: var(--layer-5);
    @media screen and (max-width: 850px) {
      position: static;
    }
  }

  nav {
    width: 100%;
    padding: var(--size-3) var(--size-5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 850px) {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-row: auto auto;
      justify-content: start;
    }
  }

  .nav__menu ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      margin: 0 var(--size-3);
    }
    @media screen and (max-width: 850px) {
      li {
        margin: 0 0;
      }
    }
  }

  .nav__logo img {
    width: 32px;
    height: auto;
    transition: all 0.3s var(--ease-elastic-5);
    &:hover {
      transform: rotate(5deg);
    }
  }
  .nav__logo {
    font-family: var(--font-body);
    font-size: var(--font-size-base);
    a {
      color: var(--ink-3);
    }
  }

  a {
    padding: var(--size-2);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--size-3);
    text-decoration: none;
    border-radius: var(--radius-2);
    @media screen and (max-width: 850px) {
      display: inline-flex;
      justify-content: flex-start;
    }
  }
</style>
