---
import PostEditCard from './PostEditCard.astro';
import PostComments from './PostComments.astro';
import Reactions from '../reactions/Reactions';

const { fileName, slug } = Astro.props;
---

<section class="container divider--top">
  <article class="meta">
    <p>
      <PostEditCard fileName={`posts${fileName}`} />
    </p>
  </article>
  <article>
    <Reactions slug={slug} client:idle />
  </article>
  <PostComments />
</section>

<style lang="scss">
  .meta {
    padding-top: var(--size-3);
  }

  .otherPosts {
    width: 100%;
    margin: var(--size-3) 0;
    display: flex;
    flex-direction: row;

    a.otherPosts__link {
      width: 100%;
      background: var(--paper-2);
      padding: var(--size-3);
      border: 1px solid var(--acc-1);
      text-decoration: none;

      small {
        font-style: italic;
      }

      p {
        margin-bottom: 0px;
      }

      &:hover {
        background: var(--paper-3);
        * {
          color: var(--acc-3);
        }
        p {
          text-decoration: underline;
        }
      }

      // set border radius depending on children
      &:first-child {
        border-top-left-radius: var(--radius-1);
        border-bottom-left-radius: var(--radius-1);
      }

      &:last-child {
        border-top-right-radius: var(--radius-1);
        border-bottom-right-radius: var(--radius-1);
      }

      &:only-child {
        border-radius: var(--radius-1);
      }

      // if there are two links, align text properly
      &:nth-of-type(2) {
        text-align: end;
        border-left: 0px;
      }
    }
  }
</style>
