---
import Layout from '@components/layout/Layout.astro';
export const prerender = true;
---

<Layout
  title="Tags"
  description="Tags from the posts, links, photos, and notes on this site."
>
  <h1>Tags</h1>
  <p>Here's all the tags I've used across my posts.</p>
</Layout>
